@tailwind base;
@tailwind components;
@tailwind utilities;

.size {
  width: 85vw;
  margin: 0 auto;
}
.primary-color {
  color: #fbc102;
}
.secondary-color {
  color: #253c56;
}
.hover:hover {
  background-color: #fbc102 !important;
  color: #ffffff !important;
}
.button {
  color: #ffffff;
  padding: 10px 20px;
  background-color: #fbc102;
  border-radius: 5px;
}
.button1 {
  color: #ffffff;
  padding: 10px 20px;
  border: 2px solid #fbc102;
  border-radius: 5px;
}
